{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>session0621s</title>
</head>
<body>
    <img class="bg" src="{% static 'image/nightsky.png' %}" >
    <h1>멋쟁이 사자처럼🦁</h1>
    <br>
   
    <div class="content">
        오늘은 드디어 마지막 세션입니다!<br>
        함께 배포 수업을 해보아요!<br>
        여러분은 자기소개 페이지를 만들면 됩니다!<br>
    </div>
</body>
</html>